   
   :root{
    --primary-color:#505033;
    --secundary-color:#264969;
    --accent01-color:#cfcfb4;
    --accent02-color:#b4cde4;
   }
   body{
     
      background-color: var(--accent01-color);
     /* width: 100%;*/
      height: auto;
      align-content:center ;
      justify-content: center;
      
   }
   
   .grid-container {
      justify-content: space-between;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;     
      padding: 30px;
      
               
   }
    .navegation{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 20px;
      flex: 1;
      text-decoration: none;
      list-style-type: none ;
      


   }
   
   h1,h2{
      font-family: georgia, sans-serif;
      color: var(--primary-color);
      text-align: center;
     padding: 0px;
     margin-right: 60px;
   }

    div h1 {
      font-family: georgia, sans-serif;
      color: var(--primary-color);
      position: absolute;
      text-align: center;

      
   }
  p{
   font-family: roboto, sans-serif;
   color: var(--secundary-color);
   
  }
   a{
      text-decoration: none;
   }
   .hero{
      position: relative;
      width: 100%;
      height: auto;
   }
   .hero img{
      display: block;
      height: auto;
      width: auto;
      
      

      
   }
   .hero h1{
      position: absolute;
      top: 2%;
      left: 20%;
      background-color:  var(--accent02-color);
      filter: opacity(0.8);
      padding: 15px;
      border-radius: 5px;
      align-items: center;
   }
   article {
      position: absolute;
      bottom: 10px;
      left: 34%;
      transform: translateX(-50%);
      background-color:var(--accent01-color);
      filter: opacity(0.8);
      padding: 10px;
      
      justify-content: center;
        
            
  }

  article img {
   
    float: right;
    width: 210px;
    margin: 10px;
    border-radius: 10px;   
       
}

figcaption{
   text-align: center;
}
.figure-box{
  display:flex;
  flex-wrap: wrap;
  padding:0;
  margin: 10px;
  width: auto;
  justify-content: center;
}

footer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  
}
footer p{
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #444;
  font-size: 14px;
  margin-left: 100px;

}
.footer-section{
   
   

}

   
   
   
